{% extends 'base.html' %}
<style>
    #jumbo{
        background-image: url("https://ak6.picdn.net/shutterstock/videos/21973126/thumb/1.jpg");
    }
</style>
{% block content %}

<div class="container-fluid">
    <br>
    <div id="jumbo">
        <div class="jumbotron text-center text-uppercase aqua-gradient">
            <h1> {{name}} </h1>
        </div>
    </div>
    <div class="row">
        {% for article in news %}
        <div class="col-sm-3" style="margin-bottom: 5px">
           <div class="card purple-gradient text-center">
            <div class="img-fluid" style="height: 200px">
                <a href={{article.url}} target="_blank">
                    <img class="thumbnail img-el img-fluid" src={{article.urlToImage}} alt="IMAGE" LOADING...>
                </a>
            </div>
            <div class="card-body">
               <div class="card-text text-light text-monospace">
                <h4 class="text-bold text-truncate"> {{article.title}} </h4>
                 <p class="text-truncate">{{article.description}}...</p>
                <p class="text-truncate">Posted by:  <span class="text-muted date-author">{{article.author}}</span></p>
               </div>
               <div class="card-footer">
                    <p>
                    <a href={{article.url}} target="_blank"><button type="button" class="btn btn-outline-primary "><span class="text-light">Read more</span></button></a>
                </p>
               </div>

            </div>
        </div>
           </div>
        {% endfor %}
    </div>
</div>
{% endblock%}