<nav class="navbar navbar-expand-lg navbar-dark bg-primary purple-gradient">
  <a class="navbar-brand mr-auto" href="/">News-Categories</a>
  <ul class="navbar-nav ">
      <li class="nav-item  btn btn-sm ">
        <a class="nav-link " href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item btn btn-sm">
        <a class="nav-link" href="{{url_for('main.articles',source_id = 'abc-news',per_page='20')}}">ABC News</a>
      </li>
      <li class="nav-item btn btn-sm">
        <a class="nav-link" href="{{url_for('main.articles',source_id = 'bbc-news',per_page='20')}}">BBC</a>
      </li>
    </ul>
</nav>